//
// Copyright (c) 2014, Brian Frank and Andy Frank
// Licensed under the Academic Free License version 3.0
//
// History:
//   19 Dec 2014  Andy Frank  Creation
//

div.domkit-Button {
  box-sizing: border-box;
  display: inline-block;
  cursor: default;
  color: #555;
  background: #fff;
  /*
  background: -webkit-linear-gradient(top, #fff, #eee);
  background:    -moz-linear-gradient(top, #fff, #eee);
  background:         linear-gradient(top, #fff, #eee);
  */
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
  padding: 0 10px;
  border: 1px solid #c8c8c8;
  border-bottom-color: #aaa;
  border-radius: 3px;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  text-align: center;
  height: 24px;
  line-height: 22px;
}

div.domkit-Button:focus {
  z-index: 2;
  position: relative;  /* needed to make z-index work */
}

div.domkit-Button.down {
  background: #ddd;
  box-shadow: none;
}

div.domkit-Button.disabled {
  opacity: 0.3;
}

div.domkit-Button.domkit-def {
  background: #3498db;
  color: #fff;
  border-color: #1d7fbf;
  border-bottom-color: #0d5c91;
}

div.domkit-Button.domkit-def.down {
  background: #1d7fbf;
}

div.domkit-Button.domkit-group-left {
  border-radius: 3px 0 0 3px;
}

div.domkit-Button.domkit-group-middle {
  border-radius: 0;
  border-left: none;
}

div.domkit-Button.domkit-group-right {
  border-radius: 0 3px 3px 0;
  border-left: none;
}

div.domkit-Button.domkit-group-textfield {
  border-color: #bbb;
  box-shadow: none;
}