//
// Copyright (c) 2015, Brian Frank and Andy Frank
// Licensed under the Academic Free License version 3.0
//
// History:
//   4 Nov 2015  Andy Frank  Creation
//

span.domkit-Label {
  height: 24px;
  line-height: 24px;
}